/* Add your variable customizations of layout here */
$loginDefaultImage: url("../../../layout/images/login-demo-left.png");
$bodyBg: #f2f2f1;
$menuBg: #fff;
/* Typography */
$h1FontSize: 1.5rem;
$h1Color: $primaryColor;
